@model URLShortener.Models.CreationLinkResultModel
@{
    ViewBag.Title = "URL Shortener";
    var shortUrl = $"{Request?.Url?.Scheme}://{Request?.Url?.Authority}{Url.Content("~")}{Model?.ShortUrl}";
    const string title = "Сделайте ссылки короче";
}

<div class="container" id="page-content">
    @if (Model?.ErrorMessage != null)
    {
        <div class="row main-page-row error-row">
            <div class="col-md-12 col-lg-12 col-sm-12">@Model.ErrorMessage</div>
        </div>
    }
    <div class="row">
        <div class="col-md-3">
            @if (Model != null)
            {
                @(Model.Success ? $"Ссылка {Model.Url} была укорочена до:" : title)
            }
            else
            {
                @title
            }
        </div>
    </div>
    <div class="row main-page-row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div id="link-text-box">
                <input type="text" id="text-box-input" placeholder="введите сюда ссылку" value="@if (Model != null)
                                                                                                {
                                                                                                    @(Model.Success ? shortUrl : String.Empty)
                                                                                                }">
                <button  id="copy-button" data-clipboard-target="#text-box-input" style="@if (Model != null)
                                                                                                    {
                                                                                                        @(Model.Success ? "visibility: visible" : "visibility: hidden")
                                                                                                    }
                                                                                                    else
                                                                                                    {
                                                                                                        @("visibility: visible")
                                                                                                    }">Копировать</button>
            </div>
        </div>
    </div>
    <div class="row main-page-row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            @if (Model != null)
            {
                if (Model.Success)
                {
                    <button id="return-button" data-bind="click: returnToMainLink">Вернуться на главную</button>
                }
                else
                {
                    <button id="shorten-button" data-bind="click: shortLink">Укоротить!</button>
                }
            }
            else
            {
                <button id="shorten-button" data-bind="click: shortLink">Укоротить!</button>
            }
        </div>
    </div>
</div>
<script>
    new Clipboard('#copy-button');
</script>